[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule "z.lua"]
	path = z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "pwndbg"]
	path = pwndbg
	url = https://github.com/pwndbg/pwndbg
